body {
  background-color: silver;
}
#contenedor {
  background-color: black;
}
#cabecera {
  background-color: blue;
}
#menu {
  background-color: cadetblue;
}
#cuerpo {
  background-color: blueviolet;
}
#pie {
  background-color: coral;
}
#parrafoimagen {
  background-image: url("/img/pablo.jpg");
}
.parrafotransparencia {
  background-color: black;
  opacity: 75%;
  color: white;
}
#parrafoimagenrepetir {
  background-image: url("/img/html5ycss3.png");
}
#parrafoimagennorepetir {
  background-image: url("/img/html5ycss3.png");
  background-repeat: no-repeat;
}
#parrafoimagentamaño {
  background-image: url("/img/html5ycss3.png");
  background-size: 30px;
}
#parrafoimagenrepetirhorizontal {
  background-image: url("/img/html5ycss3.png");
  background-repeat: repeat-x;
  background-size: 30px;
}
#parrafoimagenrepetirvertical {
  background-image: url("/img/html5ycss3.png");
  background-repeat: repeat-y;
  background-size: 30px;
}
#parrafoimagencentrar {
  background-image: url("/img/html5ycss3.png");
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}
#parrafoimagenizquierda {
  background-image: url("/img/html5ycss3.png");
  background-position: left;
  background-size: 30px;
  background-repeat: no-repeat;
}
#parrafoimagenderecha {
  background-image: url("/img/html5ycss3.png");
  background-position: right;
  background-size: 30px;
  background-repeat: no-repeat;
}
#parrafoimagensuperior {
  background-image: url("/img/html5ycss3.png");
  background-position: top;
  background-size: 30px;
  background-repeat: no-repeat;
}
#parrafoimageninferior {
  background-image: url("/img/html5ycss3.png");
  background-position: bottom;
  background-size: 30px;
  background-repeat: no-repeat;
}
#parrafoimagensuperiorderecha {
  background-image: url("/img/html5ycss3.png");
  background-position: top right;
  background-size: 30px;
  background-repeat: no-repeat;
}
#parrafoimageninferiorizquierda {
  background-image: url("/img/html5ycss3.png");
  background-position: bottom left;
  background-size: 30px;
  background-repeat: no-repeat;
}
